[init]
	defaultBranch = main
[user]
	email = git@mirkokoester.de
	name = Mirko Köster
[pull]
	rebase = false
[core]
	pager = delta
	excludesFile = ~/.gitignore_global
[delta]
	side-by-side = true
	navigate = true
	line-numbers = true
